<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
    <h2 class="mb-2 text-md text-center"> {{ document.document_number }}</h2>

    <button 
    class="border py-2 px-4 rounded"
    [ngClass]="{
        'bg-white': !details,
        'bg-gray-300': details
    }"
    (click)="details = !details"
    >
    {{ details ? 'Hide' : "Show" }} Details
    </button>

    <div *ngIf="details">
        <p>Note: {{document.note}}</p>
        <p>Date: {{document.date}}</p>
    </div>
</div>